body {
background: #000000;
color: #fff;
border: none;
}
h2.formulario_descripcion {
display: none;
}
span.label.label-default {
display: none;
}
label.control-label {
margin: 0 15px 45px 16px;
display: block;
}
div.form-group input.form-control {
margin: 10px 0;
height: 40px;
font-size: 18px;
border-radius: 0;
}
div.form-group textarea.form-control {
border-radius: 0;
font-size: 18px;
}
.btn.btn-block.btn-success {
border-radius: 0;
background: #fff;
color: #000000;
padding: 15px;
border: none;
font-size: 18px;
}
.btn.btn-block.btn-danger {
border-radius: 0;
background: #717171;
border: none;
padding: 18px;
}
div.alert-success {
color: #FFFFFF;
background-color: #000000;
border-color: #000000